html{
    background-color: black;
}
*{
    color: white;
}
 /* istedigini yazabilirsin variable a ama -- ile başlamak zorunda */
:root{
   --font-small: 12px;
   --clr-red: red;
   --clr-vio: violet;
   --font-semibond: 600;
}

.heading1{
font-size: var(--font-small);
color: var(--clr-red);
}
.heading2{
    font-size: 15px;
    color: thistle;
}
.paragraf1{
    font-weight: 600;
    font-size: 10px;
}
.paragraf2{
    font-size: 10px;
    font-weight: 700;
}
