.home-link{
    color: white;
    background-color: red;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
}
.home-link:focus{
    background-color: green;
    color: black;
}
#hobbies:checked + label{
    color:blue;
    background-color: aqua;
    display: inline-block;
    padding: 10px 20px;
} 
.list li:first-child{
    color: yellowgreen;
    
}
.list li:last-child{
    color: blue;
}
.list li:last-of-type{
    color: blueviolet;
}
.list li:first-of-type{
    color: magenta;
}
.list2 li:nth-child(6){
    color: red;
}
.list2 li:nth-child(odd){
    color: blue} f

    .list2 li:nth-child(even){
        color:green;
    }