h1 {
    text-align: center;
    color: red;
    text-transform: uppercase;
}

.container {
    display: flex;
    background-color: darkslategray;
    /* height: 1000px; */
    padding: 20px;
    /* flex-direction default => row */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    /* flex-direction: column; */

    /* jusify-content default => flex-start */
    /* it aligns the items of the container horizontally */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between; first item will be pushed to the start side, last item will be pushed to the end side, and every other item will be distributed with equal amount of space among them */
    /* justify-content: space-around;  */
    /* justify-content: space-evenly; */

    /* align-items default => stretch */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: center; */
    /* align-items: stretch; */

    /* gap */
    gap: 20px;
    /* row-gap: 20px;  */
    /* column-gap: 20px; */

    /* flex-wrap default => no-wrap */
    flex-wrap: wrap;
    /* flex-wrap: wrap-reverse; */
}

.box {
    width: 100px;
    height: 100px;
    font-size: 40px;
    color: white;
    background-color: greenyellow;
    flex-shrink: 0;
    /* margin: 20px; */
}

.box:nth-of-type(1) {
    background-color: red;
}

.box:nth-of-type(2) {
    background-color: blue;
}

.box:nth-of-type(3) {
    background-color: rgb(28, 215, 143);
}

.box:nth-of-type(4) {
    background-color: purple;
}
