color: white;
    background-color: black;

*{
    padding: 0;
    margin: 0;
box-sizing: border-box;
}
h2{
    background-color: none;
    
}
h1{

    color: red;
    text-align: center;
    text-transform:uppercase;
    margin: 20px 0;
}
.box-fixed{
   padding-left: 10px;
    width: 400px;
    height: 400px;
    background-color: rgb(182, 74, 74);
    position: fixed;
    top: 50%;
    left: 50%;
}