* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: red;
    text-transform: uppercase;
    margin: 30px 0;
}

.paragraph {
    margin-left: 30px;
    text-shadow: 10px 10px 3px purple;
}

.container {
    width: 300px;
    height: 300px;
    background-color: bisque;
    margin: 30px;
    /* box-shadow: x y blur spread color */
    /* box-shadow: 10px 10px 10px 10px; */
    box-shadow: 0 0 30px 1px red;
}
