.bas{
    color: red;
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-size: 100px;
    text-transform: uppercase;

}
body{
    background-color: rgb(255, 7, 7);
    font-family: roboto;
}
.angrybirds{
    text-align: center;
}