/* comment */
/* *{
}
#yıldızherseyiseciyo{
/* class verince . 
id verince # kullanılıyor
id 1 tane içn kullanılması gerek 
class çoklu kullanılabiliyor
class kullanman gerek */
 
h1{
    color: rgb(64, 164, 164);



}
#pro{
    color: blue;
}

body{
    background-color: brown;
}

